.container {
    display: flex !important;
    height: 100vh;
    overflow: hidden;
    .nav-left {
      width: 15%;
      min-width: 200px;
      height: calc(100vh);
      background: #001529;
    }
    .main {
      flex: 1;
      height: calc(100vh);
      background: #eee;

      .content {
        position: relative;
        padding: 20px;
      }
    }

}